/*  your css code here. If applicable */
.left{
	text-align: left;
}
.center{
	text-align: center;
}
.right{
	text-align: right;
}
.table3head{
	background-color: green;
}
.table3lastcol{
	background-color: blue;
}
